.success-container {
    text-align: center;
    margin-top: 50px;
}
  
.success-heading {
    font-size: 30px;
    color: #007bff;
    margin-bottom: 10px;
}
  
.success-message {
    font-size: 30px;
    color: #555;
}
  